@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&family=Palette+Mosaic&family=Press+Start+2P&family=Rock+3D&family=Smokum&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
table {
  margin: auto;
  width: 360px;
  border-collapse: collapse;
  position: relative;
  color: floralwhite;
}
.table-wrapper {
  max-height: 242px;
  overflow-y: scroll;
  margin: auto;
  width: fit-content;
  border: 10px solid transparent;
  border-image: linear-gradient(128deg, violet, indigo, blue, green, yellow, orange, red);
  border-image-slice: 1;
}
td,
th {
  border: 1px solid #61dafb;
}
tr {
  width: 100%;
}
th {
  position: sticky;
  top: 0;
  color: black;
  background: #61dafb;
}
td,
th {
  text-align: left;
  width: auto;
  padding: 5px 10px;
}

td:first-child,
th:first-child {
  width: 65px;
}

.App {
  text-align: center;
}

h1 {
  font-family: "Press Start 2P", cursive;
  margin: 50px auto 20px;
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
h1,
h2 {
  color: transparent;
  background-clip: text;
}

h2 {
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  letter-spacing: 0.9px;
  font-size: 35px;
  margin: 30px auto 15px;
  background-image: radial-gradient(circle, rgba(240, 255, 0, 1) 18%, rgba(112, 246, 51, 1) 34%, rgba(252, 70, 107, 1) 64%);
}

button {
  color: white;
  padding: 15px;
  color: black;
  font-size: 15px;
  border: 3px solid transparent;
  border-image: linear-gradient(-128deg, violet, indigo, blue, green, yellow, orange, red);
  border-image-slice: 1;
}
